/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Changes: sup retains its styles, added more a tag selectors */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Supplementary additions */
a {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}
ol {
  list-style: decimal inside;
}
em {
  font-style: italic;
}

/* Palette source: http://ethanschoonover.com/solarized */
:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 100%;
  font-weight: 400;
  background-color: var(--base3);
  /* background-color: var(--base03); */
  color: var(--base01);
  /* color: var(--base2); */
}

::selection {
  background-color: var(--base2);
}

.blogtitle {
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
  padding: 0.25em;
  text-align: center;
  background-color: var(--base2);
  cursor: pointer;
  /* box-shadow: 0px 3px 3px var(--base00); */
}

/* Template */
.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aside-left {
  order: 1;
  flex: 1 1 auto;
  /* border: 5px solid var(--green); */
}

.main {
  order: 2;
  padding: 5px;
}

.aside-right {
  order: 3;
  flex: 1 1 auto;
  /* border: 5px solid var(--blue); */
}

.post-header {
  margin: 2em 2em 1em 2em;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: var(--base02);
  text-align: center;
}

.post-header h2 {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5em;
  color: var(--base01);
  text-align: center;
  margin: 0.5em 0em;
}

#timestamp {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 0.75em;
  margin: 1em;
}

.sidebar {
  width: 70%;
  height: 100%;
  background-color: var(--base02);
}

.main .content {
  font-size: 1.5em;
  line-height: 1.25em;
  /* letter-spacing: 0.5px; */
  text-align: justify;
}

.content p {
  margin: 0.5em 0em;
}

.content blockquote {
  margin: 1.5em 1em 1.5em 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid var(--base2);
  font-size: 0.75em;
  line-height: 1.5em;
  font-style: italic;
}

.meta {
  font-size: 0.75em;
  line-height: 1.5em;
}

.footnoteRef {
  /* vertical-align: super; */
  font-size: 0.75em;
  text-decoration: underline;
}

hr {
  border: 2px solid var(--base2);
}

.footnotes {
  padding: 1em 0em;
  font-size: 1rem;
}

li {
  margin: 0.25em 0em;
}

.content a {
  color: var(--blue);
}

footer {
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  padding: 1em;
  background-color: var(--base2);
  color: var(--base02);
  text-align: center;
}

footer a {
  color: var(--blue);
}

.footertext {
  position: relative;
  bottom: 3px;
  color: var(--orange);
}

@media screen and (min-width : 0px) and (max-width: 464px) {
  body {
    font-size: 14px;
  }

  .main {
    flex: 2 1 480px;
  }

  .main .content {
    padding: 1em;
  }
}

@media screen and (min-width: 465px) and (max-width: 768px) {
  .main {
    flex: 2 1 768px;
  }

  .main .content {
    padding: 1em;
  }
}

@media screen and (min-width: 769px) {
  .main {
    flex: 1 1 500px;
  }
  .main .content {
    padding: 1em 2em;
  }
}
